/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/* .wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper table {
  border-style: none;
  border-collapse: collapse;
  display: flex;
}

.table-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: flex;
} */

/* th {
  background-color: #333;
  color: #fcfcfc;
} */

/* td {
  color: #333;
} */

/* th,
td {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 6rem;
} */

/* .tr {
  height: 35px;
  max-height: 35px;
} */

/* .DataTable-tableWrapper-3 {
  display: table !important;
} */
